@model Employee

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input readonly class="form-control" asp-for="Name" />
</div>
<div class="mb-3">
    <label asp-for="Address" class="form-label"></label>
    <input readonly class="form-control" asp-for="Address" />
</div>
<div class="mb-3">
    <label asp-for="Salary" class="form-label"></label>
    <input readonly class="form-control" asp-for="Salary" />
</div>
<div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input readonly class="form-control" asp-for="Email" />
</div>
<div class="mb-3">
    <label asp-for="Phone" class="form-label"></label>
    <input readonly class="form-control" asp-for="Phone" />
</div>
<div class="mb-3">
    <label asp-for="IsActive" class="form-label"></label>
    <input readonly asp-for="IsActive" disabled />
</div>